{% extends 'layout.html' %}

{% block body %}
  <h1> Welcome to {{session.username}}'s Favorite Pillow Collections</h1>
  <a href="/recommendations" class="button">
  	<img src="https://temporarytattoos.com/pub/media/catalog/product/cache/c687aa7517cf01e65c009f6943c2b1e9/f/o/four-leaf-clover-temporary-tattoo_2622.jpg" width="128" height="128"> Go To Next Round!</a> 
  <a href="/dashboard" class="button"><img src="https://metrouk2.files.wordpress.com/2018/03/544673959-e1522329950349.jpg?w=620&h=448&crop=1" width="160" height="128"> Lame...Go to Dashboard</a> 
{% endblock %}
